.mainContent {
  padding: 20px;
}

/* Page Title Area */
.pageTitleArea {
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.pageTitleArea h1 {
  color: #00796b;
}

.pageTitleArea li {
  font-size: 1.2rem;
  text-align: left;
  text-decoration:  dotted;
}

.pageTitleArea h3,
h4 {
  list-style-type: circle;
  text-align: left;
  color: #00796b;
}
.pageTitleArea
h4 {
 
  text-align: left;
  color: #00796b;
}
/* Department Area */
.departmentArea {
  display: flex;
}

/* Department Gallery */
.carouselWrapper {
  margin: 20px 0;
  width: 80%;
  max-width: 800px;
  margin: auto;
}

.galleryTitle {
  margin-bottom: 10px;
  color: #00796b;
}

.carouselImage {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .departmentArea {
    flex-direction: column;
  }
}
