/* General styling for h4 */
.mainContent h1,
.mainContent h4 {
  color: #00796b; /* Apply green color to both h1 and h4 */
}

/* Page Title Area */
.pageTitleArea {
  background-color: #dbf1f1;
  padding: 20px;
  border-radius: 8px;
  text-align:left;
}

.pageTitleArea{ 
  font-size: 1.2rem;
}
.pageTitleArea li{ 
 list-style-type: circle;
 text-align: left;
}
.pageTitleArea h1 {
  color: #00796b;
}

.pageTitleArea p {
  color: #333;
}

/* Department Area */
.departmentArea {
  display: flex;
  color: #00796b;
}

.departmentGallery {
  margin: 20px 0;
  width: 80%;
  max-width: 800px;
  height: 500px;
  margin: auto;
}

.galleryTitle {
  margin-bottom: 10px;
  color: #00796b;
}

/* Styling for Swiper slides */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.sliderTitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.gallery-slider .swiper-slide {
  position: relative;
}

/* Services List */
.servicesList {
  list-style-type: circle; /* Change bullet style */
  padding-left: 20px;      /* Adds padding to left for circle bullets */
}

.servicesItem {
  margin: 5px 0;
}

/* Head of Department */
.headOfDepartment {
  margin: 20px 0;
}

.departmentHeadTitle {
  margin-bottom: 5px;
  color: #00796b;
}

.departmentHeadName {
  margin: 5px 0;
  font-weight: bold;
  font-size: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .departmentArea {
    flex-direction: column;
  }
}
