/* Main Content */
.mainContent {
  padding: 20px;
}

/* Page Title Area */
.pageTitleArea {
  background-color: #e3f2fd;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.pageTitleArea h1{
  color: #00796b;
}
.pageTitleArea{ 
  font-size: 1.2rem;
}
/* Department Area */
.departmentArea {
  display: flex;
  flex-direction: column; /* Adjust layout for mobile responsiveness */
}

/* Department Gallery */
.contentWrapper{
  margin: 20px 0;
  width: 80%;
  max-width: 800px;
  height: 500px;
  margin: auto;
}

/* Swiper Navigation Buttons */
.swiper-button-prev, .swiper-button-next {
  color: #00796b;
  font-size: 24px; /* Make arrows larger */
}

.swiper-button-prev {
  left:250px;
}

.swiper-button-next {
  right: 0;
}

/* Toxicology Services */
.toxicologyServices {
  margin: 20px 0;
}

.servicesTitle {
  margin-bottom: 10px;
  color: #00796b;
}

.servicesList {
  font-size: 1.2rem;
  list-style-type: none;
  padding-left: 0;
}

.servicesItem {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.servicesItem::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: #00796b;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .departmentArea {
    flex-direction: column;
  }
}
