/* Main Content */
.mainContent {
  padding: 20px;
}

/* Page Title Area */
.pageTitleArea {
  background-color: #e8f5e9; /* Light green to represent pharmacy */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.pageTitleArea h1 {
  font-size: 2.5rem;
  color: #00796b; /* Dark green for the pharmacy theme */
}

.pageTitleArea li, p {
  font-size: 1.2rem;
}

/* Department Area */
.departmentArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00796b;
}

/* Department Gallery */
.departmentGallery {
  margin: 20px 0;
  width: 80%;
  max-width: 800px;
}

/* Services */
.servicesTitle, .galleryTitle {
  color: #00796b;
  text-align: center;
}

.servicesList {
  list-style-type: none;
  padding: 0;
  font-size: 1.2rem;
}

.servicesItem {
  margin: 5px 0;
  color: #000; /* Dark green text for services */
}

/* Swiper Navigation Buttons */
.swiper-button-prev, .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  border-radius: 50%;
}
.gt{
  color: #00796b;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .departmentGallery {
    width: 100%;
  }
 .pharmacyServices {
  text-align: left;
  text-decoration: dotted;
  }
  .servicesItem {
    font-size: 1.2rem; /* Adjust font size for mobile */
  }
}
