 ../12/
        ../84th weeks audit 2017.xlsx
        ../Adugna  HMIS 1.xlsx
        ../Adugna Project/
        ../AdugnaBezabih.jpg
        ../Capture_20241030_1.wmv
        "../Codeium \302\267 Free AI Code Completion & Chat.lnk"
        ../Control Panel - Shortcut.lnk
        ../Copy of Adugna_pedi_ER_(3)_CBHI(1).xlsx
        ../Database management system preparation (2).docx
        ../Enyew_schoolarship_Motivation_letter_and_full_document_Emeraled.docx
        ../GitHub Desktop.lnk
        ../Google Chrome.lnk
        ../New folder (10)/
        ../New folder (11)/
        ../New folder (12)/
        ../New folder (2)/
        ../New folder (3)/
        ../New folder (4)/
        ../New folder (5)
        ../New folder (7)/
        ../New folder (9)/
        ../New folder/
        ../Postman Agent.lnk
        ../Qajeelfama_Madaallii_Raawwii_Hojii_Mootummaa_Naannoo_Oromiyaa_.pdf        ../The freeCodeCamp Forum.lnk
        ../Zoom Workplace.lnk
        ../ab/
        ../abe/
        ../abe1/
        ../abegrage/
        ../ad.zip
        ../ad/
        ../adugna port.avif
        ../adugnaport/
        ../afomiya/
        ../amazon_clone/
        ../amz/
        ../application form.zip
        ../application form/
        ../back/
        ../backup databased/
        ../contextandreducer.pdf
        ../css.zip
        ../css/
        ../desktop.ini
        ../dr/
        ../dst.xlsx
        ../eva/
        ../evangadi/
        ../evangadi4/
        ../evangadi_forum/
        ../fi/
        ../frontend/
        ../general/
        ../general2/
        ../hi/
        ../image/
        ../img bar/
        ../kd/
        ../ki/
        ../kidus.zip
        ../kidusbackend/
        ../kudus/
        ../main eva/
        ../me/
        ../netflix/
        ../new/
        ../newaba/
        ../p/
        ../peter/
        ../peters/
        ../phase4/
        ../quesionNo2.rar
        ../quesionNo2/
        ../rb/
        ../react.svg
        ../readiatbook/
        ../self ass practice phase3/
        ../zip/
        ../~$19.docx
        ../~$DE PROJECT.docx
        ../~$Home2.docx
        ../~$SURGICAL WORD 1.xlsx
        ../~$sigment week2.docx
        ../~$siness Plan.docx
        "../~$\341\215\225\341\210\213\341\212\225.docx"
        ../../Documents/
        ../../Downloads/
        ../../Epi Info 7/
        ../../Favorites/
        ../../Intel/
        ../../IntelGraphicsProfiles/
        ../../Links/
        ../../MDR_TB/
        ../../Microsoft/
        ../../MicrosoftEdgeBackups/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf        
        ../../NTUSER.DAT{5
