/* Main Content */
.mainContent {
  padding: 20px;
}

/* Page Title Area */
.pageTitleArea {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.pageTitleArea h1 {
  color: #00796b;
}

.pageTitleArea p {
  color: #555;
  font-size: 1.1rem;
}

.pageTitleArea ul {
  list-style-type: circle;
  text-align: left;
  font-size: 1rem;
}

.pageTitleArea h3, .pageTitleArea h4 {
 color: #00796b;
  margin-top: 20px;
}

/* Department Area */
.departmentArea {
  margin-top: 40px;
}

/* Carousel */
.carouselWrapper {
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-radius: 8px;
}

.galleryTitle {
  color:#00796b;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.carouselImage {
  border-radius: 8px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .pageTitleArea {
    padding: 15px;
  }
}
