/* Main Content */
.mainContent {
  padding: 20px;
}

/* Page Title Area */
.pageTitleArea {
  background-color: #e3f2fd;
  padding: 20px;
  border-radius: 8px;
}

.pageTitleArea h1 {
  color: #00796b;
  font-size: 2rem;
}
.imagingService,li,
.pageTitleArea p,
.pageTitleArea h3 {
  font-size: 1.2rem;
}

.pageTitleArea li {
  list-style-type: circle;
  text-align: left;
  margin-left: 20px;
}

/* Department Area */
.departmentArea {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.departmentArea{
   margin: 20px 0;
  width: 80%;
  max-width: 800px;
  height: 500px;
  margin: auto;
}
/* Department Gallery */
.carouselWrapper {
  margin: 20px 0;
  width: 100%;
}

.carouselImage {
  border-radius: 8px;
}

.galleryTitle {
  margin-bottom: 20px;
  color: #00796b;
  font-size: 1.2rem;
}
