/* Main Content */
.mainContent {
  padding: 20px;
}

/* Page Title Area */
.pageTitleArea {
  background-color: #dbf1f1;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.pageTitleArea h1 {
  color: #00796b;
}
.pageTitleArea p {
  font-size: 1rem;
  color: #333;
}
.pageTitleArea ul {
  padding-left: 20px;
}
.pageTitleArea li {
  list-style-type: circle;
  text-align: left;
  color: #555;
}

/* Department Area */
.departmentArea {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

/* Department Gallery */
.contentWrapper {
  margin: 20px 0;
  width: 80%;
  max-width: 800px;
  height: 500px;
  margin: auto;
  position: relative;
}

.galleryTitle {
  margin-bottom: 10px;
  color: #00796b;
  font-size: 1.5rem;
  font-weight: bold;
}

.galleryImage {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover; /* Ensures images cover the area nicely */
  height: 100%; /* Ensures images fill the gallery space */
}

/* Swiper Navigation Buttons */
.swiper-button-prev,
.swiper-button-next {
  color: #00796b;
  font-size: 24px;
  z-index: 10;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .departmentArea {
    flex-direction: column;
    align-items: center; /* Center content for small screens */
  }

  .departmentGallery {
    width: 100%;
    height: auto;
  }

  .galleryTitle {
    font-size: 1.2rem; /* Make title smaller on mobile */
  }

  .swiper-button-prev,
  .swiper-button-next {
    font-size: 18px; /* Smaller navigation buttons for mobile */
  }
}
