.newsTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.newsTable th,
.newsTable td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 0.95rem;
  color: #444;
}

.newsTable th {
  background-color: #f8f9fa;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}


.titleColumn {
  width: 10%;
}

.detailColumn {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.descriptionColumn {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linkColumn {
  width: 11%;
}

.linkColumn a {
  color: #444; 
  text-decoration: none;
}

.linkColumn a:hover {
  color: #007bff;
  text-decoration: underline;
}

.imageColumn {
  width: 8%;
}

.dateColumn,
.actionsColumn {
  width: 9%;
}
.link{
  color: #444484;
}

.imageGrid {
  display: flex;
  align-items: center;
  gap: 5px;
}

.imageThumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: transform 0.2s ease;
}

.imageThumbnail:hover {
  transform: scale(1.1);
}

.moreImages {
  font-size: 0.9rem;
  font-weight: bold;
  color: #666;
  margin-left: 10px;
}


.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.2s ease;
}

.iconButton:hover {
  background-color:#00A99E;
  transform: scale(1.0);
}

.editIcon {
  color: #34c759;
}

.deleteIcon {
  color: #d9534f;
}
/* New Styles for Formatted Text */
.bulletedDetail {
  color: #007bff;
  font-weight: bold;
  margin-left: 15px;
}

.highlightedDetail {
  background-color: #f0f8ff;
  padding: 5px;
  border-radius: 5px;
}

.plainDetail {
  color: #444;
}


@media (max-width: 768px) {
  .newsTable tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  .newsTable th {
    display: none;
  }

  .newsTable td {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
}
