/* Main Content */
.mainContent {
  padding: 20px;
}

/* Page Title Area */
.pageTitleArea {
  background-color: #dbf1f1;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.pageTitleArea h1 {
  color: #00796b;
}
.pageTitleArea {
  font-size: 1.2rem;
}
.pageTitleArea h3,
h4 {
  list-style-type: circle;
  text-align: left;
}

/* Department Area */
.departmentArea {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center;
}

/* Department Gallery */
.contentWrapper {
  margin: 20px 0;
  width: 80%;
  max-width: 800px;
  height: 500px;
  margin: auto;
}

.galleryTitle {
  margin-bottom: 10px;
  color: #00796b;
}

/* DR-TB Services */
.drTbServices {
  margin: 20px 0;
}

.servicesTitle {
  margin-bottom: 10px;
  color: #00796b;
}

.servicesList {
  font-size: 1.2rem;
  list-style-type: circle;
  padding: 0;
}

.servicesItem {
  margin: 5px 0;
  list-style-type: circle;
}

/* Swiper Navigation Buttons */
.swiper-button-prev,
.swiper-button-next {
  color: #00796b;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .departmentArea {
    flex-direction: column;
    align-items: center;
  }

  .contentWrapper {
    width: 100%;
    height: auto;
  }
}
