.header {
  position: relative;
  z-index: 1000;
}

.header_top_bg {
  background-color: #F26524;
  border-bottom: 1px solid white !important;
}

.header_top_hover i:hover {
  color: #1F867E !important;
}

.header_middle_bg {
  background-color: #fff !important;
}

.media_wrapper span,
.media_wrapper a {
  color: #1F867E !important;
}

.media_wrapper span:hover,
.media_wrapper a:hover {
  color: #F26524 !important;
}

.header_bottom_bg {
  background-color: #fff !important;
  border-bottom: 1px solid #d9d9d9 !important;
  opacity: 1;
  visibility: visible;
  animation: fadeInDown 0.5s ease-in-out;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.main_menu_wrapper li a {
  color: #1F867E !important;
}

.main_menu_wrapper li a:hover {
  color: #F26524 !important;
}

.book_now_btn {
  background-color: #1F867E !important;
}

.book_now_btn:hover {
  background-color: #F26524 !important;
}



