/* Main Content */
.mainContent {
  padding: 20px;
}

/* Page Title Area */
.pageTitleArea {
  background-color: #e1f5fe;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

/* Department Area */
.departmentArea {
  display: flex;
}

/* Department Gallery */
.departmentGallery {
   margin: 20px 0;
  width: 80%;
  max-width: 800px;
  height: 500px;
  margin: auto;
}

.galleryTitle {
  margin-bottom: 10px;
  color: #0d47a1;
}

/* Services */
.services {
  margin: 20px 0;
}

.servicesTitle {
  margin-bottom: 10px;
  color: #0d47a1;
}

.servicesList {
  list-style-type: none;
  padding: 0;
}

.servicesItem {
  margin: 5px 0;
}

/* Head Of Department */
.headOfDepartment {
  margin: 20px 0;
}

.departmentHeadTitle {
  margin-bottom: 5px;
  color: #0d47a1;
}

.departmentHeadName {
  margin: 5px 0;
}

/* Swiper Navigation Buttons */
.swiper-button-prev, .swiper-button-next {
  color: #0d47a1;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .departmentArea {
    flex-direction: column;
  }
}
